// COLORS
$color-yellow: #e5a52c;
$color-brown: #8f5c3e;
$color-white: #FFF;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;